# Python

**pycache**/
*.py[cod]
*$py.class

# Virtual Environment

venv/
.env
.venv/

# IDE

.vscode/
.idea/

# macOS

.DS_Store

# Logs

*.log

# Python cache

.pytest_cache/
.mypy_cache/

# Coverage

.coverage
htmlcov/

# Build

build/
dist/
*.egg-info/

# Jupyter

.ipynb_checkpoints
